.containerr {
  position: relative ;
width: 1512px;
height: 6458px;

/* White */

background: #FFFFFF;
}

h1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700 !important;
  font-size: 56px !important;
  line-height: 64px !important;
  letter-spacing: 0.01em !important;
  /* Gray Palette/800 */
  color: #27303E;
}

h2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.01em;
  /* Gray Palette/800 */
  color: #27303E;
}

h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #27303E;
}

h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  /* Gray Palette/800 */
  color: #27303E;
}

.bo {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  /* Gray Palette/800 */

  color: #27303E;
}

.b2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */


  /* Gray Palette/800 */

  color: #27303E;
}

.b3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */


  /* Gray Palette/800 */

  color: #27303E;
}

.clr-1 {
  background: #FFEDC1 !important;
}

.clr-2 {
  background: #D5F4C7 !important;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;

  width: 283px;
  height: 54px;

  background: #0078B8;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;

  width: 360px;
  height: 54px;

  background: #0078B8;
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
section {
  gap: 160px;
}

.frm-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 63px;
  width: 1077px;
  height: 412px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frm-1-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 68px;
  
  width: 498px;
  height: 412px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.frm-1-2 {
  width: 516px;
  height: 412px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frm-2 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 42px;

width: 1077px;
height: 364px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.frm-2-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 331px;
  height: 364px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.frm-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 48px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.frm-3-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 33px;

  width: 1074px;
  height: 256px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.frm-3-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 316px;
  height: 256px;

  /* Brand 50 */

  background: #D2E5FF;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frm-3-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 268px;
  height: 208px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frm-3-4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 268px;
  height: 80px;
  background: #F4F9FF;
  border-radius: 8px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.frm-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 42px;

  width: 1077px;
  height: 431px;


  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.frm-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 61px;

  width: 1077px;
  height: 466px;


  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.frm-5-1 {
  width: 998px;
  height: 341px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frm-5-2 {
  position: absolute;
  width: 240px;
  height: 146px;
  left: 39.5px;
  top: 125px;   

}

.frm-5-3 {
  position: absolute;
  width: 240px;
  height: 118px;
  left: 39.5px;
  top: 153px;
}

.frm-5-4 {
  position: absolute;
width: 240px;
height: 104px;
left: 39.5px;
top: 153px;

/* Brand 50 */

background: #D2E5FF;
border-radius: 16px;
}

  /* import bootstrap to set changes */
  @import "~bootstrap/scss/bootstrap";
 